<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberForm</title>
</head>
<body>
    <div class="container">
      <form action="/members/join" method="post">
          <div class="form-group">
              <label for="name">이름</label>
              <input type="text" id="name" name="name" placeholder="이름을 입력하세요.">
              <lable for="id">아이디</lable>
              <input type="text" id="memberId" name="id" placeholder="아이디를 입력하세요">
          </div>
          <button type="submit">등록</button>
      </form>
    </div>
</body>
</html>