<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
    <script>
      function register() {
        var form = document.getElementById("form");
        var data = {
          id : form.id.value,
          name : form.name.value,
          pw : form.pw.value
        }
        axios.post("/person/register", data)
        .then((res)=>{
            alert("회원 가입 완료");
            document.location.href= "/person/login";
        });
      }
    </script>
</head>
<body>
  <form id="form">
    <input type="text" placeholder="id" name="id">
    <br>
    <input type="password" placeholder="pw" name="pw">
    <br>
    <input type="text" placeholder="name" name="name">
    <button type="button" onclick="register();">회원가입</button>
  </form>
</body>
</html>

<!--
로그인 => axios 요청 보내고 => 응답 => info로 post 전송
-->